<ion-content>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>New Releases</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [movies]="recentMovies"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Movie Listings</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [movies]="recentMovies"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Popular Movies</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pairs [movies]="populars"
                      (loadMore)="loadMore()">
          </app-slideshow-pairs>

</ion-content>
